@charset "utf-8";

@media only screen and (max-width: 480px) {
	
	* {
		font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		font-size: 13.5px;
	}
	
	/* menu */
	#navBar::after  {
		content: " ";
		display: block; 
		height: 0; 
		clear: both;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#menuBar {
		border: none;
		float: left;
	}
	
	#menuBar > li {
		float: left;
	}

	#menuBar .menuItem {
		text-align: center;
		background-color: #82AFBD;
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		border: none;
		border-radius: 3px;
		width: 100px;
	}
	
	#menuBar .menuItem .subMenuItem {
		padding: 0;
		border: none;
	}
	
	#menuBar .menuItem .subMenuItem .menuItem {
		display: block;
		border: none;
		margin-top: 3px;
		margin-bottom: 3px;
	}

	#menuBar li a {
		text-decoration: none;
		color: #ECECEC;
	}
	
	#navBar ul li a.active {
		background-color:#F18C8D;
	}
	/* menu */
	
	
	.topicsListingContainer {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.topicContainer {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.topicHeading {
		padding-left: 5px;
		border-radius: 5px;
		background-color: #EDEDED;
		width: 97%;
	}
	
	.linkToTopic {
		color: #004C5C;
		text-decoration: none;
	}
	
	.topicDetails {
		display: none;
	}
	
	.topicTagsContainer {
		margin-top: -13px;
		padding: 5px;
		width: 95%;
	}
		
	.topicTagBtn {
		font-size: 12px;
		color: #989393;
		border-radius: 5px 8px;
		border-style: solid;
		background-color: #E8E8E8;
	}
	
	.btn {
		cursor: pointer;
		color: #4D7C7F;
		border-radius: 20px;
		box-shadow: none;
		background-color: #00D6AA;
		vertical-align: baseline;
	}
	
	.form-group {
		position: relative;
	}
	
	#goNextPage, #goPrevPage {
		color: #4D7C7F;
		border-radius: 20px;
		background-color: #00D6AA;
		position: absolute;
		right: 5%;
	}
	
	.pageNumIndicator {
		font-size: 12px;
		color: #3B864A;
		padding-left: 5px;
		border: solid 2px #4D7C7F;
		border-radius: 5px;
		background-color: #E8E8E8;
		width: 20%;
	}
	
	.goToPageForm {
		text-align: center;
	}

	.goToPageForm .form-group {
		display: inline-block;
	}
	
	.lbl {
		color: #007E5C;
		display: inline-block;
		width: 25px;
		vertical-align: baseline;
		text-align: left;
		margin-right: 10px;
	}
	
	.form-control {
		font-size: 1em;
		width: 30px;
		margin-left: 10px;
		margin-right: 10px;
		padding: 3px;
		border-radius: 5px;
	}
		
	#question {
		font: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		font-size: 6px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	
}

@media only screen and (min-width: 769px) {
	
}