@charset "utf-8";

@media only screen and (max-width: 480px) {
	* {
		font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		font-size: 13.5px;
	}
	
	/* menu */
	#navBar::after  {
		content: " ";
		display: block; 
		height: 0; 
		clear: both;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#menuBar {
		border: none;
		float: left;
	}
	
	#menuBar > li {
		float: left;
	}

	#menuBar .menuItem {
		text-align: center;
		background-color: #82AFBD;
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		border: none;
		border-radius: 3px;
		width: 100px;
	}
	
	#menuBar .menuItem .subMenuItem {
		padding: 0;
		border: none;
	}
	
	#menuBar .menuItem .subMenuItem .menuItem {
		display: block;
		border: none;
		margin-top: 3px;
		margin-bottom: 3px;
	}

	#menuBar li a {
		text-decoration: none;
		color: #ECECEC;
	}
	
	#navBar ul li a.active {
		background-color:#F18C8D;
	}
	
	/* menu */
	.topicContainer {
		margin-top: 5px;
		margin-bottom: 10px;
		padding: 3px;
		border: solid 2px #65E4FF;
		border-radius: 10px;
	}
	
	.topicHeading {
		color: #004C5C;
		text-decoration: none;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 2px;
		border-radius: 5px;
		background-color: #EDEDED;
		width: 98.5%;
	}
	
	.topicTagBtn {
		font-size: 12px;
		color: #989393;
		border-radius: 5px 8px;
		border-style: solid;
		background-color: #E8E8E8;
	}

	
	.image-assess {
		width: 15px !important;
		height: 15px !important;	
	}
	
	.topicDetails {
		display: inline-block;
		font-size: 12px;
		color: #006E86;
		text-decoration: none;
		margin-top: 3px;
		padding-left: 5px;
		border-radius: 5px;
		position: relative;
		left: 5%;
		width: 70%;
	}
				
	.articleContainer {
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 1px;
		border: solid 2px #65E4FF;
		border-radius: 10px;
	}
	
	.voteBar {
		padding-left: 5px;
	}
	
	.articleHeading {
		color: #004C5C;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 2px;
		border-radius: 5px;
		width: 98%;
		background-color: #EDEDED;
	}
	
	.articleDetails {
		font-size: 11.5px;
	}
	
	.articleDetails * {
		font-size: inherit;
	}
	
	.articleType {
		font-size: 13.5px;
		color: #E7E7E7;
		border: none;
		border-radius: 3px;
		box-shadow: none;
		background-color: #1695FF;
	}
	
	.articleIntroWords {
		display: inline;
		font-size: 13.5px;
	}
	
	.readingArt {
		cursor: pointer;
		color: #4D7C7F;
		border-radius: 20px;
		box-shadow: none;
		background-color: #00D6AA;
		vertical-align: baseline;
	}
	
	.articleContent {
		color: #004C5C;
		display: none;
		background-color: #EDEDED;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 5px;
		border: none;
		border-radius: 8px;
		width: 95.2%;
		position: relative;
		left: 2%;
	}
	
	.reviewsContainer {
		display: none;
		border: none;
		width: 94%;
		position: relative;
		left: 6%;
	}
	
	.reviewContainer {
		color: #004C5C;
		font-size: 11.5px;
		background-color: #EDEDED;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 1px;
		border: none;
		border-radius: 8px;
		width: 93.5%;
		position: relative;
		left: 6%;
	}
	
	.reviewContainer * {
		font-size: inherit;
	}
	
	optgroup {
		font-size: 13.5px;
	}

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	
}

@media only screen and (min-width: 769px) {
	
}